  <!DOCTYPE html>
<html>
<body>
  <div class="bg" id="bg-img">
    <%= image_tag 'MusicBase-Logo.png', class: "logo" %>
    <div class="container"><h2 class="about"> MusicBase is a new innovative community for artist and fans.</h2></div>
    <div class="container">
      <p class="more-detail">
        MusicBase is for the artists and fans, Connecting both. Artists get full control over their revenue while fans have the knowledge that artists get 100% of their donations and revenue.
        MusicBase is a streaming platform, a music video platform, and a connection platform. Fans can get exclusive track previews if they donate (this is up to the artists they can have
        track previews on by default.)</p>
      </div>
    <div class="email">
      <%= form_for @user_signup do |f| %>
        <% if @user_signup.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(@user_signup.errors.count, "error") %> Please fix this error then try again:</h2>

            <ul>
              <% @user_signup.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <h2 style="text-align: center; color: #fff;">Want to know when we launch?</h2>
        <div class="form-inline">
          <div class="form-group">
            <%= f.text_field :email, placeholder: "example@gmail.com", :class => "form-control" %>
          </div>
            <%= f.submit 'Signup for updates', :class => "btn btn-success"%>

        </div>
      <% end %>
    </div>
    <div class="spotify">
      <h2> In the meantime listen to our spotify playlist.</h2>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amaplemusic1%3Aplaylist%3A4JN5WCf80PLuG9ikNhowJ1" width="300" height="180" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <footer class="footer">
      <span>&copy; 2016 MusicBase, Made with <i class="fa fa-heart" aria-hidden="true" id="heart"></i> in Denver, CO. <br>
        Background image from <a href="www.unsplash.com">Unsplash</a></span>
    </footer>
  </div>
 </div>
</body>
</html>
