<!DOCTYPE html>
<html>
<body>
  <div class="bg" id="bg-img">
    <%= image_tag 'MusicBase-Logo.png', class: "logo" %>
    <div class="container"><h2 class="about"> MusicBase is a new innovative community for artist and fans.</h2></div>
    <div class="container">
      <p class="more-detail">
        MusicBase is for the artists and fans, Connecting both. Artists get full control over their revenue while fans have the knowledge that artists get 100% of their donations and revenue.
        MusicBase is a streaming platform, a music video platform, and a connection platform. Fans can get exclusive track previews if they donate (this is up to the artists they can have
        track previews on by default.)</p>
      </div>
    <div class="email">
      <%= bootstrap_form_for (@user_signup) do |f| %>
        <% if @user_signup.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user_signup.error.count, "error") %> Please fix these errors then try again:</h2>

            <ul>
              <% @user_signup.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <h2 style="text-align: center; color: #fff;">Want to know when we launch?</h2>
        <div class="form">
          <p>
            <%= f.email_field :email, placeholder: "example@gmail.com" %>
          </p>
          <p>
            <%= f.submit 'Signup for updates', :class => "btn btn-success"%>
          </p>
        </div>
      <% end %>
    </div>
    <footer class="footer">
      <span>&copy; 2016 MusicBase, Background image from <a href="www.unsplash.com">Unsplash</a></span>
    </footer>
  </div>
</body>
</html>
